.blog .img {
  height: 235px;
}

.blog img {
  width: 100%;
  height: 100%;
}

.blog .text {
  padding: 40px 30px;
}

.blog h1 {
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  margin: 20px 0;
  transition: 0.5s;
}

.blog h1:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.blog span {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--primary-color);
}

.blog span label {
  margin-left: 10px;
  color: grey;
  font-size: 14px;
}

.blog span:nth-last-child(1) label {
  color: var(--primary-color);
}

.blog p {
  color: grey;
}
